<main>
    <div class="wrapper">
        <div class="add-place">
            <h2>Попълнете информация за вашето място!</h2>

            <form action="#" class="activity">


                <div class="place-select">
                    <label for="place">Какви дейности могат да се практикуват на мястото?</label>
                    <br>
                    <select name="place" id="place">
                        <option value="">Риболов на язовир</option>
                        <option value="">Риболов на река</option>
                        <option value="">Поход в планина</option>
                        <option value="">Изкачване на връх</option>
                        <option value="">Поход на екопътека</option>
                        <option value="">Свободен къмпинг</option>
                        <option value="">Платен къмпинг</option>
                    </select>
                    <select name="place" id="place">
                        <option value="">Риболов на язовир</option>
                        <option value="">Риболов на река</option>
                        <option value="">Поход в планина</option>
                        <option value="">Изкачване на връх</option>
                        <option value="">Поход на екопътека</option>
                        <option value="">Свободен къмпинг</option>
                        <option value="">Платен къмпинг</option>
                    </select>
                </div>

                <div class="add-img">
                    <label for="place-image">Добавете снимка</label>
                    <input type="url" id="place-image" name="place-image">
                </div>

                <div class="description">
                    <label for="description-input">Добавете описание:</label>
                    <textarea name="description-input" id="description-input" cols="10"
                        name="description-input"></textarea>
                </div>

                <div class="vehicle-choice">
                    <label for="vehicle">Какво превозно средство е необходимо за достигане на мястото?</label>
                    <select name="vehicle" id="vehicle">
                        <option value="">Лек автомобил</option>
                        <option value="">Джип</option>
                        <option value="">Без значение</option>
                    </select>
                </div>

                <input type="submit" value="Добави">
            </form>

            <h2><a href="/">Към Начална Страница</a></h2>

        </div>
    </div>
</main>