<main>
    <div class="wrapper">
        <div class="add-place">
            <h2>Попълнете информация за вашето място!</h2>

            <form action="/places/add-place" method="POST" class="activity">


                <div class="place-select">
                    <label for="name">Кое е вашето място?</label>
                    <input type="text" id="name" name="name">
                    <label for="activity">Какви дейности могат да се практикуват на мястото?</label>
                    <input type="text" id="activity" name="activity">
                    
                    
                </div>

                <div class="add-img">
                    <label for="imageUrl">Добавете снимка</label>
                    <input type="url" id="imageUrl" name="imageUrl">
                </div>

                <div class="description-input">
                    <label for="description">Добавете описание:</label>
                    <textarea name="description" id="description" cols="10"
                        name="description"></textarea>
                </div>

                <div class="vehicle-choice">
                    <label for="vehicle">Какво превозно средство е необходимо за достигане на мястото?</label>
                    <input type="text" id="vehicle" name="vehicle">
                </div>

                <input type="submit" value="Добави">
            </form>

            <h2><a href="/">Към Начална Страница</a></h2>

        </div>
    </div>
</main>