<main>
    <div class="wrapper">
        <div class="home-container">
            <div class="home-image">
                <img src="https://images.pexels.com/photos/413960/pexels-photo-413960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div class="home-preview">
                <div class="intro">
                    <h2>Търсите точното място за вашата ваканция? Намерете го при нас!</h2>
                </div>
                <div class="home-nav">
                    <a href="/places">Избрани дестинации</a>
                    <a href="/search">Намерете дестинация</a>
                </div>
            </div>
        </div>
    </div>

</main>