<main>
    <div class="wrapper">
        <div class="suggestions">
            <img src="https://cdn.pixabay.com/photo/2023/05/23/15/26/bengal-cat-8012976_960_720.jpg" alt="cat"
                width="200" height="400">
            <img src="https://cdn.pixabay.com/photo/2023/03/21/04/09/mountain-7866362_640.jpg" alt="mountaing"
                width="200" height="350">
            <img src="https://cdn.pixabay.com/photo/2023/05/15/18/14/bird-7995668__340.jpg" alt="bird" width="250"
                height="150">
        </div>
    </div>

</main>