<main>
    <div class="wrapper">

        <div class="form-info">
            <h2>Изберете дейността, която желаете:</h2>


            <form action="#" class="activity">
                <input type="radio" id="fishing" name="hobby">
                <label for="fishing">Риболов</label>
                <input type="radio" id="hiking" name="hobby">
                <label for="hiking">Поход</label>
                <input type="radio" id="camping" name="hobby">
                <label for="camping">Къмпинг</label>

                <label for="place">Изберете какво искате да посетите:</label>
                <select name="place" id="place">
                    <option value="">Риболов на язовир</option>
                    <option value="">Риболов на река</option>
                    <option value="">Поход в планина</option>
                    <option value="">Поход на връх</option>
                    <option value="">Поход на екопътека</option>
                    <option value="">Свободен къмпинг</option>
                    <option value="">Платен къмпинг</option>
                </select>

                <label for="vehicle">Какво превозно средство ще ползвате:</label>
                <select name="vehicle" id="vehicle">
                    <option value="">Лек автомобил</option>
                    <option value="">Джип</option>
                    <option value="">Без значение</option>
                </select>

                <input type="submit" value="Търси">
            </form>
        </div>

        <div class="suggestions">
            <img src="https://cdn.pixabay.com/photo/2023/05/23/15/26/bengal-cat-8012976_960_720.jpg" alt="cat"
                width="200" height="400">
            <img src="https://cdn.pixabay.com/photo/2023/03/21/04/09/mountain-7866362_640.jpg" alt="mountaing"
                width="200" height="350">
            <img src="https://cdn.pixabay.com/photo/2023/05/15/18/14/bird-7995668__340.jpg" alt="bird" width="250"
                height="150">
        </div>
    </div>

</main>