<main>
    <div class="wrapper">
        <div class="form-info">
            <h2>Изберете дейността, която желаете:</h2>


            <form action="#" class="activity">
                <input type="radio" id="fishing" name="hobby">
                <label for="fishing">Риболов</label>
                <input type="radio" id="hiking" name="hobby">
                <label for="hiking">Поход</label>
                <input type="radio" id="camping" name="hobby">
                <label for="camping">Къмпинг</label>

                <label for="place">Изберете какво искате да посетите:</label>
                <select name="place" id="place">
                    <option value="">Риболов на язовир</option>
                    <option value="">Риболов на река</option>
                    <option value="">Поход в планина</option>
                    <option value="">Поход на връх</option>
                    <option value="">Поход на екопътека</option>
                    <option value="">Свободен къмпинг</option>
                    <option value="">Платен къмпинг</option>
                </select>

                <label for="vehicle">Какво превозно средство ще ползвате:</label>
                <select name="vehicle" id="vehicle">
                    <option value="">Лек автомобил</option>
                    <option value="">Джип</option>
                    <option value="">Без значение</option>
                </select>

                <input type="submit" value="Търси">
            </form>
        </div>
    </div>
</main>