<main>
    <div class="wrapper">
        <div class="form-info">
            <h2>Изберете дейността, която желаете:</h2>


            <form action="#" class="activity">

                <div class="radio">
                    <input type="radio" id="fishing" name="hobby">
                    <label for="fishing">Риболов</label>
                    <input type="radio" id="hiking" name="hobby">
                    <label for="hiking">Поход</label>
                    <input type="radio" id="camping" name="hobby">
                    <label for="camping">Къмпинг</label>
                </div>

                <div class="place-select">
                    <label for="place">Изберете какво искате да посетите:</label>
                    <select name="place" id="place">
                        <option value="">Риболов на язовир</option>
                        <option value="">Риболов на река</option>
                        <option value="">Поход в планина</option>
                        <option value="">Поход на връх</option>
                        <option value="">Поход на екопътека</option>
                        <option value="">Свободен къмпинг</option>
                        <option value="">Платен къмпинг</option>
                    </select>
                </div>

                <div class="vehicle-choice">
                    <label for="vehicle">Какво превозно средство ще ползвате:</label>
                    <select name="vehicle" id="vehicle">
                        <option value="">Лек автомобил</option>
                        <option value="">Джип</option>
                        <option value="">Без значение</option>
                    </select>
                </div>

                <input type="submit" value="Търси">
            </form>

            <h2><a href="/">Към Начална Страница</a></h2>

        </div>
    </div>
</main>