body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 3em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
}

body {
    min-height: 100vh;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

.form-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.activity {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.places {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.place-img {
    width: 20%;
    height: auto;
}

.suggestion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    text-align: center;
    align-items: center;
}

.info-btn {
    width: 30%;
}

.preview {
    width: 30%;
    height: fit-content;
}

.home-container {
    width: auto;
    max-height: 700px;

}

.home-container img {
    height: 500px;
}

.home-container .home-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.home-container .home-nav a {
    text-decoration: none;
    color: black;
}