body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 3em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
}

body {
    min-height: 100vh;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
}

.form-info {
    display: flex;
    flex-direction: column;
}
.activity {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    /* justify-content: space-around; */
}

.places {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-content: space-between;
}

.place-img {
    width: 20%;
    height: auto;
}

.suggestion {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    gap: 2em;
}

.info-btn {
    width: 30%;
}

.preview {
    width: 30%;

}