<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    <title>Hobby</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <li class="logo"><a href="/">HOBBY</a></li>
            </div>
            <nav>
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
    </div>
</body>

</html>